.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--card-width, 230px), 1fr));
	gap: 1rem;
	width: 100%;
}

.card {
	position: relative;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
	height: var(--card-height, 190px);
}

.cardInner {
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: 0.7rem;
	background-color: rgba(26, 26, 26, 0.8);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.content {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 5px;
	padding: 10px;
	width: 100%;
}

.pill {
	width: 25%;
	height: 1rem;
	border-radius: 10px;
}

.title {
	width: 85%;
}
