.container {
	position: relative;
	width: 100%;
	height: var(--carousel-height);
	overflow: hidden;
}

.carouselArea {
	width: 100%;
	height: 100%;
}

.navigation {
	display: flex;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	gap: 1rem;
	transform: translateX(-50%);
	z-index: 1;
}
