.mainContent {
	display: flex;
	column-gap: 2rem;
	row-gap: 1rem;
	width: 100%;
}

.videoContainer {
	display: flex;
	flex: 5;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	width: 100%;
	height: fit-content;
}

.videoHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.title {
	width: 50%;
	height: 1.5rem;
}

.languageSelect {
	width: 5rem;
	height: 2rem;
	border-radius: 0.5rem;
}

.videoPlayer {
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: 0.5rem;
}

.iframeNav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.option {
	width: 5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
}

.aside {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1rem;
	max-height: 500px;
}

.asideHeader {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.asideImage {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
}

.asideTitle {
	width: 60%;
}

.asideGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 0.5rem;
	width: 100%;
}

.episodeItem {
	width: 100%;
	height: 7rem;
	border-radius: 0.5rem;
}

@media (width <= 56rem) {
	.mainContent {
		flex-direction: column;
	}
}
