.autocompleteContainer {
  --form-top: 20vh;
  --form-pd: 0.4rem;
  --form-gap: 0.5rem;
  --form-max-width: 800px;
  --footer-height: 50px;
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100svh;
}

.form {
  --input-height: 50px;
  --borderWidth: 3px;
  --input-shadow: 0 0 7rem rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--form-gap);
  transform: translate3d(0, var(--form-top), 0);
  transition: transform 0.3s ease;
  margin: 0 auto;
  padding: var(--form-pd);
  width: min(100%, var(--form-max-width));
}

.form.isOpen {
  --form-top: 2vh;
}

.inputContainer {
  position: relative;
  border-radius: calc(4 * var(--borderWidth));
  width: 100%;
  height: var(--input-height);
}

.inputContainer:after {
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  z-index: -1;
  animation: animateGradient 5s ease alternate infinite;
  box-shadow: var(--input-shadow);
  border-radius: calc(4 * var(--borderWidth));
  background: linear-gradient(60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  background-size: 300% 300%;
  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);
  content: '';
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.inputSearch {
  outline: none;
  border: none;
  border-radius: 0.6rem;
  background-color: rgba(59, 59, 59, 0.9);
  padding: 0 4rem 0 1rem;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 12pt;
}

.inputSearch::-webkit-search-cancel-button {
  display: none;
}

.containerInputIcons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
}

.loadingIcon {
  display: flex;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.collectionsPanel {
  --pd: 0.5rem;
  --panel-bg: rgba(59, 59, 59, 1);
  display: grid;
  animation: expandAnimation 0.5s;
  box-shadow: var(--input-shadow);
  border: 2px solid rgb(92 92 92);
  border-radius: 0.6rem;
  background-color: var(--panel-bg);
  padding: var(--pd);
  width: 100%;
  height: fit-content;
}

@keyframes expandAnimation {
  from {
    grid-template-rows: 0fr;
  }

  to {
    grid-template-rows: 1fr;
  }
}

.collectionsContainer {
  --scrollbar-width: 0.3rem;
  width: 100%;
  max-height: calc(100svh - var(--form-top) - var(--input-height) - var(--form-pd) * 2 - var(--form-gap) * 2 - var(--pd) * 2 - var(--footer-height));
  overflow-y: auto;
  overscroll-behavior: contain;
}

.collectionsContainer::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.collectionsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.collectionsContainer::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #fdfdfd;
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.6rem;
  width: 100%;
}

.collection:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.collectionHeader {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--panel-bg);
  padding: 0.5rem;
  width: 100%;
}

.collectionTitle {
  font-weight: 300;
  text-align: start;
}

.collectionItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.collectionItem.isActive {
  background-color: #1f1f1f;
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 95%;
}

.itemImage {
  border-radius: 0.3rem;
  aspect-ratio: 1/1;
}

.itemInfo {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  width: 100%;
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  overflow: hidden;
}

.itemContent>* {
  width: 100%;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemTitle {
  font-weight: 500;
}

.itemDescription {
  color: #c4c4c4;
  font-size: 11pt;
}

.itemIcon {
  transition: transform 0.3s ease-in-out;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
  padding: 0.2rem;
  color: white;
}

.itemIcon:hover {
  background-color: rgba(255, 255, 255, 0.098);
}

.collectionItem.expanded .itemIcon {
  transform: rotateX(180deg);
  background-color: rgba(255, 255, 255, 0.098);
}

.childsItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-left: 4.3rem;
  width: 100%;
}

.childsItems {
  display: flex;
  gap: 0.3rem;
  padding-block: 0.5rem;
  width: 100%;
  overflow-x: auto;
  --scrollbar-height: 0.3rem;
}

.childsItems::-webkit-scrollbar {
  height: var(--scrollbar-height);
}

.childsItems::-webkit-scrollbar-track {
  background-color: transparent;
}

.childsItems::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #fdfdfd;
}

.childItem {
  padding: 0.3rem;
}

.childItem:hover {
  border-radius: 0.3rem;
  background-color: #1f1f1f;
}

.childItemLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* .childItemTitle {
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -2rem 2rem -1rem #00000084;
  border-top: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
  height: var(--footer-height);
}

.shortcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}