.autocompleteLayer {
  --form-top: 20vh;
  --form-pd: 0.4rem;
  --form-gap: 0.5rem;
  --form-max-width: 800px;
  --footer-height: 50px;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  inset: 0;
}

.form {
  --input-height: 50px;
  --borderWidth: 3px;
  --input-shadow: 0 0 7rem rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100%, var(--form-max-width));
  margin: var(--form-top) auto 0 auto;
  padding: var(--form-pd);
  gap: var(--form-gap);
  transition: margin 0.5s ease;
}

.form.isOpen {
  --form-top: 7vh;
}

.inputContainer {
  position: relative;
  width: 100%;
  height: var(--input-height);
  border-radius: calc(4 * var(--borderWidth));
}

.inputContainer:after {
  z-index: -1;
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);
  border-radius: calc(4 * var(--borderWidth));
  content: '';
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 300% 300%;
  box-shadow: var(--input-shadow);
  animation: animateGradient 5s ease alternate infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.inputSearch {
  width: 100%;
  height: 100%;
  padding: 0 4rem 0 1rem;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  color: #fff;
  font-size: 12pt;
  background-color: rgba(59, 59, 59, 0.9);
}

.inputSearch::-webkit-search-cancel-button {
  display: none;
}

.containerInputIcons {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.loadingIcon {
  display: flex;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.resultsPanel {
  --pd: 0.5rem;
  display: grid;
  width: 100%;
  height: fit-content;
  padding: var(--pd);
  border: 2px solid rgb(92 92 92);
  border-radius: 0.6rem;
  background-color: rgba(59, 59, 59, 0.95);
  box-shadow: var(--input-shadow);
  animation: expandAnimation 0.5s;
  backdrop-filter: blur(5px);
}

@keyframes expandAnimation {
  from {
    grid-template-rows: 0fr;
  }

  to {
    grid-template-rows: 1fr;
  }
}

.resultsContainer {
  --scrollbar-width: 0.3rem;
  overflow-y: auto;
  width: 100%;
  max-height: calc(
    100vh - var(--form-top) - var(--input-height) - var(--form-pd) * 2 - var(--form-gap) * 2 - var(--pd) * 2 -
      var(--footer-height)
  );
}

.resultsContainer::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.resultsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.resultsContainer::-webkit-scrollbar-thumb {
  background-color: #fdfdfd;
  border-radius: 1rem;
}

.resultsCollection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.6rem;
  gap: 0.3rem;
}

.resultsCollection:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.collectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.resultsCollectionTitle {
  text-align: start;
  font-weight: 300;
}

.resultsItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  gap: 0.5rem;
}

.resultsItem.isActive {
  background-color: #1f1f1f;
}

.itemContainer {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemImage {
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
}

.itemInfo {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 6fr 1fr;
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  gap: 0.3rem;
}

.itemContent > * {
  width: 100%;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemTitle {
  font-weight: 500;
}

.itemDescription {
  font-size: 11pt;
  color: #c4c4c4;
}

.itemIcon {
  border: none;
  background-color: transparent;
  color: white;
  transition: transform 0.3s;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.itemIcon:hover {
  background-color: rgba(255, 255, 255, 0.098);
}

.resultsItem.expanded .itemIcon {
  transform: rotateX(180deg);
  background-color: rgba(255, 255, 255, 0.098);
}

.childsItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
  padding-left: 4.3rem;
  border-radius: 0.4rem;
}

.childsItems {
  display: flex;
  gap: 0.3rem;
  width: 100%;
  overflow-x: auto;
  padding-block: 0.5rem;
  --scrollbar-height: 0.3rem;
}

.childsItems::-webkit-scrollbar {
  height: var(--scrollbar-height);
}

.childsItems::-webkit-scrollbar-track {
  background-color: transparent;
}

.childsItems::-webkit-scrollbar-thumb {
  background-color: #fdfdfd;
  border-radius: 1rem;
}

.childItem {
  padding: 0.3rem;
}

.childItem:hover {
  background-color: #1f1f1f;
  border-radius: 0.3rem;
}

.childItemLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.childItemTitle {
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  gap: 1rem;
  padding: 0.5rem;
  border-top: 1px solid gray;
  box-shadow: 0 -2rem 2rem -1rem #00000084;
}

.shortcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
