.main {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 3rem;
  margin: 2rem auto;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.asideTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}

.asideInner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (width <=56rem) {
  .main {
    grid-template-columns: 1fr;
    margin-block-start: 4rem;
  }

  .aside {
    order: unset;
  }

  .aside .asideList {
    flex-direction: row;
    overflow-x: auto;
  }
}
