.main {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: calc(100vh - 4rem - 100px);
  margin: 2rem auto;
  gap: 3rem;
}

.aside {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  gap: 1.8rem;
  order: 1;
}

.asideInner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.26);
}

.asideList {
  --scrollbar-width: 0.3rem;
  --scrollbar-height: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: hidden;
}

.asideList::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

.asideList::-webkit-scrollbar-track {
  background-color: transparent;
}

.asideList::-webkit-scrollbar-thumb {
  background-color: #fdfdfd;
  border-radius: 1rem;
}

.asideList li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 56rem) {
  .main {
    grid-template-columns: 1fr;
  }

  .aside {
    order: unset;
  }

  .aside .asideList {
    flex-direction: row;
    overflow-x: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
