.main {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: calc(100vh - 4rem - 100px);
  margin: 2rem auto;
  gap: 3rem;
}

.aside {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  gap: 1.8rem;
}

.asideTitle {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.asideInner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 56rem) {
  .main {
    grid-template-columns: 1fr;
    margin-block-start: 4rem;
  }

  .aside {
    order: unset;
  }

  .aside .asideList {
    flex-direction: row;
    overflow-x: auto;
  }
}
