.latestSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: var(--section-grid-column);
  flex-wrap: wrap;
  order: var(--section-grid-order);
  gap: 1.5rem;
  width: 100%;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: fit-content;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 0.5rem;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

@media (width <=56rem) {
  .latestSection {
    grid-column: auto;
    order: 1;
  }
}
