.broadcastList {
  --scrollbar-width: 0.3rem;
  --scrollbar-height: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  overflow-x: hidden;
  white-space: nowrap;
}

.broadcastList::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

.broadcastList::-webkit-scrollbar-track {
  background-color: transparent;
}

.broadcastList::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #fdfdfd;
}

.broadcastListItemParent {
  perspective: 100px;
}

.broadcastListItem {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 8fr;
  align-items: start;
  gap: 0.5rem;
  perspective: 100px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  content-visibility: auto;
}

.broadcastListItem::after {
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  inset: 0;
  border-radius: 0.4rem;
  background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
  content: '';
}

.broadcastListItem:hover::after {
  opacity: 0.7;
}

.broadcastListItemParent:has(+ .broadcastListItemParent:hover) .broadcastListItem {
  transform: rotateX(3deg) scaleX(0.97);
}

.broadcastListItemParent:hover+.broadcastListItemParent .broadcastListItem {
  transform: rotateX(-3deg) scaleX(0.97);
}

.broadcastListItemParent:has(+ .broadcastListItemParent:hover) .broadcastListItem::after,
.broadcastListItemParent:hover+.broadcastListItemParent .broadcastListItem::after {
  opacity: 0.13;
}

.broadcastListItem img {
  border-radius: 0.2rem;
  width: 45px;
  height: 50px;
  object-fit: cover;
}

.broadcastListItemContent {
  width: 100%;
  overflow: hidden;
  font-size: 10pt;
}

.broadcastListItemContent h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.broadcastListItem:hover h3 {
  text-decoration: underline;
}

@media (width <=56rem) {
  .broadcastList {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .broadcastListItemParent {
    margin-bottom: 0.5rem;
    min-width: 10rem;
  }
}