.link_card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card_anchor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.441) 20%, rgba(0, 0, 0, 0) 30%);
  color: white;
  gap: 5px;
  padding: 10px;
  white-space: nowrap;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.599);
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.episode {
  background: linear-gradient(175deg, #ffb800, #c38c00);
  font-size: 10pt;
  color: #fff;
  padding: 2px 5px;
  border-radius: 7px;
  font-weight: 600;
}