.card {
  padding: 0.5rem;
}

.showOnHoverContainer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  background: #000000a1;
  color: inherit;
  top: 2rem;
  right: -15rem;
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 1rem;
  max-width: calc(var(--grid-width) * 1.2);
  max-height: calc(var(--grid-width) * 1.5);
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .showOnHoverContainer {
  visibility: visible;
  opacity: 1;
}

.card:hover .card_anchor {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  scale: 1.03;
}

.card_anchor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition:
    box-shadow 0.3s ease,
    scale 0.3s ease;
  position: relative;
}

.content {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  white-space: nowrap;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.441) 20%,
    rgba(0, 0, 0, 0) 30%
  );
  gap: 5px;
}

.title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.599);
  white-space: nowrap;
}

.card_img {
  width: unset;
  height: 100%;
  object-fit: cover;
}

.pill {
  padding: 2px 7px;
  border-radius: 10px;
  color: var(--pill-color);
  font-weight: 600;
  font-size: 10pt;
  background: var(--pill-bg);
}

.cardSkeleton .card_anchor {
  background-color: rgb(117, 117, 117);
}

.cardSkeleton .title {
  width: 85%;
  height: 1.3rem;
  background: linear-gradient(
    to right bottom,
    rgb(148, 148, 148),
    rgb(194, 194, 194),
    rgb(148, 148, 148)
  );
  border-radius: 1rem;
}

.cardSkeleton .pill {
  width: 25%;
  height: 1rem;
}
