.header {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, var(--primary-color) -15%, transparent);
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.2s ease-in-out;
}

.header.scrolled {
  backdrop-filter: blur(10px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--max-width);
  padding: 2rem 2rem 0.5rem 2rem;
  transition: padding 0.2s ease-in-out;
  gap: 30px;
  margin-inline: auto;
}

.header.scrolled .headerContainer {
  padding-block: 0.3rem;
}

.headerSection {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.logo {
  display: flex;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.header.scrolled .logo {
  transform: scale(0.8);
}

.logo img {
  filter: invert(1);
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pages {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pageItem {
  --page-item-bg-color: var(--primary-color);
  --page-item-text-color: white;
  position: relative;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
  transition: font-weight 0.2s ease-in-out;
  border-radius: 0.4rem;
}

.pageItem:is(:hover, .active) {
  background-color: var(--page-item-bg-color);
  color: var(--page-item-text-color);
}

.header.scrolled .pageItem {
  --page-item-bg-color: white;
  --page-item-text-color: var(--primary-color);
}

.tools {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchButton {
  --borderWidth: 0.1rem;
  --border-radius-multiplier: 5;
  --input-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.40rem 0.5rem;
  border: none;
  border-radius: calc(var(--border-radius-multiplier) * var(--borderWidth));
  color: white;
  background-color: rgba(59, 59, 59, 0.8);
  transition: 0.3s ease-in-out;
  gap: 2rem;
}

.searchButton:hover {
  background-color: rgba(59, 59, 59, 0.3);
}

.searchButton:after {
  z-index: -1;
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);
  border-radius: calc((var(--border-radius-multiplier) + 1) * var(--borderWidth));
  content: '';
  background: linear-gradient(60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  background-size: 300% 300%;
  box-shadow: var(--input-shadow);
}

.searchButton:hover:after {
  animation: animateGradient 5s ease alternate infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hoverIndicator {
  position: absolute;
  top: var(--indicator-top);
  left: var(--indicator-left);
  width: var(--indicator-width);
  height: var(--indicator-height);
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  transition: 0.3s 0.1s ease-in-out;
  z-index: -1;
}