.carousel {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--carousel-height);
}

.carousel::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, transparent, var(--primary-color));
  width: 100%;
  height: 70%;
  content: '';
}

.slidingButton {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 3;
}

.scroller {
  display: flex;
  will-change: scroll-position;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 100%;
  scroll-snap-align: start;
}

.carouselPicture {
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carouselItem picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--bg-position);
}

.info {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
  width: 100%;
  height: 100%;
}

/* .carouselItem[active] .info {
} */

.info .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 var(--global-padding);
  width: var(--max-width);
}

.infoTitle {
  display: -webkit-box;
  max-width: min(100%, 700px);
  font-weight: 600;
  font-size: 2.7rem;
  text-overflow: ellipsis;
  text-wrap: balance;
  overflow: hidden;
  color: #fff;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: var(--anime-ace-bb-font);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

.navigateButtons {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -30px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
}

.containerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0 var(--global-padding);
  width: var(--max-width);
}

.navigateButton {
  display: flex;
  transform: translateY(-2.2rem);
  transform-origin: top;
  transition:
    scale 0.2s ease-in-out,
    margin-inline 0.3s ease-in-out;
  will-change: auto;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  width: 3.3rem;
  height: 3.9rem;
  overflow: hidden;
}

.navigateButton:focus,
.navigateButton:focus-visible {
  outline: none;
}

.navigateButton:hover {
  scale: 1.1;
}

.navigateButton.active {
  scale: 1.4;
  margin-inline: 0.5rem;
}

.navigateButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (width <=56rem) {
  .info ul {
    width: 100%;
  }

  .info .content {
    margin-bottom: 5rem;
  }

  .containerButtons {
    justify-content: center;
  }

  .navigateButton {
    transform: translateY(0);
    transform-origin: center;
    width: 3.6rem;
    height: 4.5rem;
  }
}
