* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

:root {
  --max-width: min(100%, 1400px);
  --primary-color: rgb(19, 19, 25);
  --carousel-height: 80vh;
}

html,
body {
  max-width: 100vw;
  overflow: hidden auto;
  color: white;
  font-weight: 350;
  background-color: var(--primary-color);
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

main {
  width: min(100%, var(--max-width));
  margin: 5rem auto;
  padding: 2rem;
}

.page-loader {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
}

.page-loader img {
  position: absolute;
  filter: brightness(0) invert(1);
  animation: zoom 1s ease-in-out infinite alternate;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.page-loader svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
