.main {
  width: var(--max-width);
  position: relative;
  padding: 0 35px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  z-index: 2;
}

.content {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.headerTitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.otherNames {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content .medium-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.content .medium-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.content .medium-section ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

/* anime aside */
.sidebar {
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.asideImg {
  border-radius: 20px;
}

.status {
  width: 100%;
  background-color: #ffffff2c;
  text-align: start;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.453) inset;
}

.statusValue {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 7px;
  padding: 5px;
  background: linear-gradient(
    to right bottom,
    rgba(21, 73, 177, 0.71),
    rgba(8, 42, 109, 0.716)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.453);
}